<mat-stepper [linear]="true" #stepper>
  <mat-step [completed]="hasPicked()">
    <app-pick-restaurant #pick_res></app-pick-restaurant>
    <button mat-raised-button
            matStepperNext
            color="primary"
            [disabled]="!hasPicked()">Next</button>
  </mat-step>
  <mat-step [completed]="vm.hasPicked()">
    <app-view-menu #vm></app-view-menu>
    <button mat-raised-button
            matStepperNext
            color="primary"
            [disabled]="!vm.hasPicked()">Next</button>
  </mat-step>
  <mat-step [optional]="true">
    <app-extras #extras></app-extras>
    <button mat-raised-button
            matStepperNext
            color="primary">Next</button>
  </mat-step>
  <mat-step>
    <app-view-cart #vc></app-view-cart>
    <button mat-raised-button
            (click)="sendOrder()";
            color="primary">Place order</button>
  </mat-step>
</mat-stepper>
