<div class="container">

  <h2>Välj en restaurang</h2>

<mat-grid-list cols="2" rowHeight="150px" class="grid">
  <mat-grid-tile *ngFor="let restaurant of restaurants">
    <mat-card class="restaurant">
      <div>
        <mat-card-title>{{restaurant.name}}</mat-card-title>
        <mat-card-actions>
          <button [disabled]="isActive(restaurant.id)"
                  (click)="onClick(restaurant.id)"
                  mat-raised-button
                  color="primary">
            {{ !isActive(restaurant.id) ? "Välj restaurang" : "Restaurang vald"}}
          </button>
        </mat-card-actions>
      </div>
      <google-map
        height="100px"
        width="200px"
        class="map"
        [center]="getCoord(restaurant.location)"
        [options]="mapOptions"
      >
        <map-marker
          [position]="getCoord(restaurant.location)"
          [title]="restaurant.name"

        >
      </map-marker>
      </google-map>
    </mat-card>
    <mat-divider></mat-divider>
  </mat-grid-tile>
</mat-grid-list>

</div>
